
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Cat-o-rama</mat-card-title>
    <mat-card-subtitle>Because... you know... Cats</mat-card-subtitle>
  </mat-card-header>
  <img 
    src="{{ src}}" 
    alt="Cat.. because Cats"
    mat-card-image>
  <mat-card-content>
    <p>
      Cats are awesome bro!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button 
    color="primary" 
    (click)="generateSrc()"
    mat-button 
    mat-raised-button>
    Give me a Kitteh!!
  </button>
  </mat-card-actions>
</mat-card>